<div class="permissions-container">
  <h2>Permissions Management</h2>

  <div class="permissions-grid">
      <table class="permissions-table">
          <thead>
              <tr>
                  <th>Permission ID</th>
                  <th>Permission Name</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let permission of permissions" class="permission-row">
                  <td class="permission-id">{{ permission.permissionId }}</td>
                  <td class="permission-name">{{ permission.permissionName }}</td>
                  <td class="permission-description">{{ permission.description }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
